<%= render "shared/playlist_area" %>

<% if options[:display] == 'user' %>
  <div class="text-container">
    <div id="controls-container">
      <i id="controls-backwards" class="fa fa-backward"></i>
      <i id="controls-play" class="fa fa-play"></i>
      <i id="controls-forwards" class="fa fa-forward"></i>
      <i id="controls-shuffle" class="fa fa-random"></i>
      <i id="controls-repeat" class="fa fa-repeat"></i>
    </div>

    <div class="text-field-container">
      Mix Link:  <%= text_field_tag :user, "somix.herokuapp.com/#{@playlist.user_hash}",
                                    :name =>"User Link", :readonly => true %>
    </div>
    <div class="text-field-container">
      Share Link: <%= text_field_tag :share, "somix.herokuapp.com/#{@playlist.share_hash}",
                                     :name =>"Share Link", :readonly => true %>
    </div>
  </div>
<% elsif options[:display] == 'share' %>
  <div id="shared-container">
    <div id="prepend-text-container">
      Contribute to this mix and see the whole thing! Or make your own <a href="/">here</a>
    </div>
    <%= render "shared/search_area" %>
    <style>
      /* Style hacks! */
      #search-container{
        top: -1px;
      }
      #results-container {
        overflow: visible;
      }
      .iframe-container > i {
        left: 100%;
      }
    </style>
  </div>
<% end %>
<%= stylesheet_link_tag 'playlist' %>
<%= javascript_include_tag 'playlist' %>